/* ALGEMEEN ------------------------------------------ */
.jumbotron{
	text-align: center;
}

.center-logo{
    margin: 0 auto;
}

.required{
    color:red;
}

footer{
    background-color:lightgray;
    text-align: center;
    margin:0 auto;
}

/* INLOGGEN & UITLOGGEN ------------------------------ */
.email-ingelogd{
    color:white;
    float: left;
    padding-right:20px;
    margin-top: 6px;
}

.fa-facebook{
    margin-right: 10px;
}

.fb-img{
    height: 37px;
    float: left;
    padding-right:10px;
}

.fb-ingelogd{
    color:white;
    float: left;
    padding-right: 10px;
    margin-top: 7px;
}

/* MARKETING CONTENT --------------------------------- */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}