/* ALGEMEEN ------------------------------------------ */
.jumbotron{
	text-align: center;
}

.center-logo{
    margin: 0 auto;
}

.text-align{
    text-align: center;
}

.required{
    color:red;
}

#instafeed{
        max-height:150px;
        overflow:hidden;
        text-align:center;
}

#instafeed a{
    -webkit-filter: grayscale(0.5);
}

#instafeed a:hover{
    -webkit-filter: grayscale(0);
}

/* INLOGGEN & UITLOGGEN ------------------------------ */
.img-profile{
    width: 38px;
    float: left;
    margin-right: 10px;
    margin-left: -50px
}

.email-ingelogd{
    color:white;
    float: left;
    padding-right: 10px;
    margin-top: 8px;
}

.fa-facebook{
    margin-right: 10px;
}

.fb-img{
    height: 38px;
    float: left;
    margin-right: 10px;
}

.fb-ingelogd{
    color:white;
    float: left;
    padding-right: 10px;
    margin-top: 8px;
}

/* MARKETING CONTENT --------------------------------- */
.marketing .col-lg-4 {
    text-align: center;
    margin-left: -15px;
}

/*STUDENT BESCHIKBAAR ------------------------------ */
.img-beschikbaar{
    width: 150px;
    float: left;
    margin-right: 20px;
}

/* FOOTER ----------------------------------------- */
footer{
    background-color:lightgray;
    text-align: center;
    margin:0 auto;
}

.snapwidget-widget
{
    width:100%;
}

@media screen and (min-width: 500px)
{
    .snapwidget-widget
    {
        width:70%;
    }
}